@import '../settings/settings.global';

.c-dashboard{
    background:$dark-grey;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    width:100%;
    height:100%;
    //height:100%;
}
.active{
    background-color:$primary-color;
}
.c-dashboard-navitem__svg{
    margin:1em 0;
    width:40px;
    height:auto;
}
.c-dashboard-navitem__svg path{
    fill:white;
}
.c-dashboard__navitem:hover{
    background-color:$primary-color;
}
.c-dashboard__navitem{
    width:100%;
    height:auto;
    cursor: pointer;
}
.c-dasboard button:active{
    background-color:$primary-color;
    outline:none;
}

.active, .c-dashboard button:hover {
    background-color:$primary-color;
    outline:none;
}
a:hover{
    width:100%;
    background-color:$primary-color;
    outline:none;
}
a{
    outline:none;
}

@media only screen and (max-width: 480px ) {
    .c-dashboard{
        flex-direction:row;
        height:15vh;
        position:fixed;
        bottom:0;
    }
    .c-dashboard-navitem__svg{
        margin:.5em 0;
        width:35px;
        height:auto;

    }

}