@import '../settings/settings.global';

.c-register{
    height:100vh;
    background-color:$primary-color;
    display:flex;
    justify-content: center;
    align-items:center;

}
.c-register__form{
    background-color:$white;
    width: 30%;
    height:50vh;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
}
.c-register-form__header{
    font-size:1.6em;
    margin:1em 0 1em 0;
}
.c-register-form__input input{
    margin:1em auto 1em auto;
    width:70%;
    height:30px;
}

.form-control input{
    border:$light-grey 1px solid;
    text-indent: 1em;
}
.form-control input:focus{
    border:$primary-color 1.5px solid;
    outline:none;
}

.c-register-form__buttons{
    display:flex;
    margin:1em auto 1em auto;
    justify-content: space-between;
    width:70%;
}
.c-register-form__login{
    background-color:$primary-color;
    width:40%;
    padding:1em;
    color:white;
    -webkit-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.75);
    font-weight:600;
    cursor: pointer;
}
.c-register-form__login:hover{
    color:$primary-color;
    background-color:$white;
    border: $primary-color 2px solid;
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.75);
}


.c-register-form__register{
    margin:1em 0 0 0;
    background-color:$primary-color;
    color:white;
    width:70%;
    height:40px;
    font-weight:600;
    -webkit-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.75);
    cursor: pointer;
}
.c-register-form__register:hover{
    color:$primary-color;
    background-color:$white;
    border: $primary-color 2px solid;
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 1140px ) {
    .c-register__form{
        width: 45%;
        height:53vh;
    }

}

@media only screen and (max-width: 980px ) {
    .c-register__form{
        width: 55%;
        height:60vh;
    }

}
@media only screen and (max-width: 560px ) {
    .c-register__form{
        width: 70%;
        height:55vh;
    }

}
@media only screen and (max-width: 480px ) {
    .c-register__form{
        width: 80%;
    }
    .c-register-form__buttons{
        flex-direction:column;
        align-items:center;
        justify-content:start;
        width:100%;
    }
    .c-register-form__register{
        height:50px;
        width:70%;
    }
}
@media only screen and (max-width: 320px ) {
    .c-register__form{
        width: 90%;
    }

}