 @import  '../settings/_settings.global';

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.c-wrapper{
  height:100%;
  background-color:$primary-color;
  display:flex;
  justify-content: center;
  width: auto;
}

.c-headerTitle{
  position: absolute;
  top:1em;
}

.c-pickDate{
  text-align: center;
}

.c-addevent__form{
  align-content:center;  
  padding: 2em;
  background-color:$white;
  width: 30%;
  height:100%;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
}

.c-addevent__form input,textarea {
  border-width: 1px;
  border-style: solid;
  border-color: $light-grey;
  width:50%;
  
}
.c-addevent__form input,textarea{
  font-size:0.9em;
}
.c-addevent__form input:focus,textarea:focus{
  border:1.5px solid $primary-color;
  outline:none;
}

.c-labels{
  margin:5em 0 3em 0;

}
.c-btn-submit{
  background-color:$primary-color;
  width:40%;
  margin-top: 1em;
  padding:1em;
  color:white;
  -webkit-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.75);
  font-weight:600;
  cursor: pointer;
}
.c-btn-submit:hover{
  color:$primary-color;
  background-color:$white;
  border-color:$primary-color;
  border:1.5px solid;
}
.c-addevent__input{
  width:80%;
  display:flex;
  justify-content:space-between;
  margin:1em auto;
  align-content:center;
  align-items:center;

}
.c-addevent__input .c-addevent__title{
  margin-top:3em;
}
.c-addevent__datepicker{
  display:flex;
  justify-content: center;
  margin:2em auto;
  width:80%;
  position:static;
}
vue-timepicker{
  position:static;
}
.c-addevent__timepicker{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:80%;
  align-items: center;
  margin:2em auto 3em auto;
}
.c-colorpicker{
  margin:2em 0;
}
.c-addevent__form button{
  margin-bottom:2em;
}

@media only screen and (max-width: 1140px ) {
  .c-addevent__form{
    width:40%;
  }
}
@media only screen and (max-width: 960px ) {
  .c-addevent__form{
    width:50%;
  }
}
@media only screen and (max-width: 760px ) {
  .c-addevent__form{
    width:65%;
  }
}
@media only screen and (max-width: 480px ) {
  .c-addevent__form{
    width:100%;
  }
  .c-addevent__form button{
    margin-bottom:30%;
  }
}