@import '../settings/settings.global';

.c-calendar{
    display:flex;
    flex-wrap:wrap;

}

.c-detail{
    position: absolute;
    top:40vh;
    left:40vw;
    background:$primary-color;
    color: white;
    width: 30vw;
    border-style: solid;
    border-width: 5px;
    -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .5);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

h2,h3{
    text-align: left;
    margin-left: 3vw;
}

.close {
    position: relative;
    left: 11vw;
    top: 2vh;
    width: 32px;
    height: 32px;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color:white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  @media only screen and (max-width: 480px ) {
    .c-detail{
      width:40%;
    }
    @media only screen and (max-width: 960px ) {
      .c-detail{
        width:50%;
      }
    }
    @media only screen and (max-width: 760px ) {
      .c-detail{
        width:65%;
        align-items: center;
      }
    }

}